<!DOCTYPE html>
<html lang="ru">
<div th:replace="admin/blocks/head_admin :: head_admin"></div>
<body>
    <div th:replace="admin/blocks/header_admin :: header_admin"></div>

    <form action="#" th:action="@{/admin/publication/update/{id}(id=${publication.id})}" th:object="${publication}"
          method="post">
        <label for="title">Title</label>
        <input type="text" th:field="*{title}" id="title" placeholder="Title">
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span>

        <label for="slug">slug</label>
        <input type="text" th:field="*{slug}" id="slug" placeholder="slug">
        <span th:if="${#fields.hasErrors('slug')}" th:errors="*{slug}"></span>

        <label for="description">description</label>
        <input type="text" th:field="*{description}" id="description" placeholder="description">
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

        <div class="form-group">
            <label for="summernote-input">text:</label>
            <textarea type="text" rows="4" id="summernote-input" placeholder="text" class="form-control"
                      th:field="*{text}" autocomplete="off"></textarea>
            <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"></span>
        </div>

        <input type="submit" value="Update Publication">
    </form>

    <div th:replace="admin/blocks/footer_admin :: footer_admin"></div>
</body>
</html>