<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Registration and Login System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>
<div th:replace="admin/blocks/header_admin :: header_admin"></div>
<div class="container">
    <div class="row col-md-10">
        <h2>Користувачі</h2>
    </div>

    <a th:href="${'/admin/register'}">Створити нового користувача</a>

    <table class="table table-bordered table-hover">
        <thead class="table-dark">
        <tr>
            <th>Ім'я</th>
            <th>Email</th>
            <th>Редагувати</th>
            <th>Видалити</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "user : ${users}">
            <td th:text = "${user.name}"></td>
            <td th:text = "${user.email}"></td>
            <td>
                <a th:href="${'/admin/user/' + user.id}">Редагувати</a>
            </td>
            <td>
                <a th:href="${'/admin/user/delete/' + user.id}">Видалити</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>