<!DOCTYPE html>
<html lang="en">
  <body>
  <div th:replace="admin/blocks/header_admin :: header_admin"></div>
  <div th:replace="admin/blocks/head_admin :: head_admin"></div>
  

  <div th:switch="${contacts}">
    <h2 th:case="null">Ще немає контактів</h2>
    <div th:case="*">

      <div class="container">
        <div class="row col-md-10">
          <h2 class="p-3 display-4">Контакти</h2>
        </div>

        <div class="row">
          <div class="col-12">
            <table class="table table-bordered table-striped" style="margin-top:20px;">
              <thead>
              <tr>
                <th>Назва відділу</th>
                <th>Операції</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="contact : ${contacts}">
                <td>
                  <span th:text="${contact.name}"></span>
                </td>
                <td><a th:href="@{/admin/contact/{id}(id=${contact.id})}" class="btn btn-primary btn-sm" data-bs-toggle="modal">Редагувати</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>