<!DOCTYPE html>
<html lang="ru">
  <div th:replace="blocks/head :: head"></div>
  <body>
    <div th:replace="blocks/header :: header"></div>

    <main class="main">
      <section class="intro intro--product-second">
          <div class="container">
              <div class="inner">
                  <a href="/products/pos-materials" class="intro-arrow intro-arrow--prev">
                      <svg width="18" height="32" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.1395 32L17.8083 30.3367L3.51832 16L17.8083 1.66332L16.1395 3.96059e-06L0.1916 16L16.1395 32Z" fill="#1B3C65"></path>
                      </svg> 
                  </a>
                  <a href="/products/cartboard" class="intro-arrow intro-arrow--next">
                      <svg width="18" height="32" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M1.86047 -2.91785e-07L0.191651 1.66332L14.4817 16L0.191656 30.3367L1.86047 32L17.8084 16L1.86047 -2.91785e-07Z" fill="#1B3C65"></path>
                      </svg>  
                  </a>

                  <div class="section-column section-column--content">
                      <h1 class="section-intro-title main-title">
                          Упаковка<br> Каширована
                      </h1>
                      <p class="section-intro-text">
                        Що робити, якщо потрібно одночасно упакувати красиво, і при цьому захистити виріб від механічних пошкоджень? Рішення – каширування мікрогофрокартону та гофрокартону.
                      </p>
                  </div>
                  <div class="section-column section-column--product">
                      <img src="/img/maramax-images-compressed/cashed/28.png" alt="" class="cards__image cards__image-1">
                      <img src="/img/maramax-images-compressed/cashed/26.png" alt="" class="cards__image cards__image-2">
                      <img src="/img/maramax-images-compressed/cashed/25.png" alt="" class="cards__image cards__image-3">
                  </div>
              </div>
          </div>
      </section>
        <section class="content">
            <div class="container">
                <div class="section-row">
                    <div class="item" th:each="product : ${products}">
                        <div class="item__decor">
                            <img th:src="${'/img/maramax-images-compressed/cashed/' + product.number + '.png'}" alt="" class="item__image" />
                        </div>
                        <h2 class="item__title"></h2>
                        <p class="item__count" th:text="${product.number}"></p>
                    </div>
                </div>

                <div class="content-action js-view-all">
                    Показати ще
                </div>

                <div class="content-description">
                    <h2>Каширування – це процес склеювання задрукованого листа (лайнера) з підкладкою (основою).</h2>

                    <ul>
                        Вихідним матеріалом для процесу каширування служить:
                        <li>Лайнер із крейдованого картону з нанесеним на нього повнокольоровим зображенням, виконаним офсетним способом. Всі види обробки (лакування, тиснення, припресовка і т. д.) також виконуються до операції каширування.</li>
                        <li>Основа з 2, 3, 5-шарового мікрогофрокартону та гофрокартону, або палітурного картону</li>
                    </ul>

                    <ul>
                        На відміну від інших сортів пакувального картону, каширований мікрогофрокартон і гофрокартон при товщині, близьких до звичайного картону, має цілу низку переваг:
                        <li>1. Вага коробки легше, але вона досить міцна, кращий захист товару, що знаходиться всередині, завдяки багатошаровості менше пошкоджується.</li>
                        <li>2. Каширований мікрогофрокартон і гофрокартон – це оптимальне рішення для упаковки як великих, так і дрібних за розмірами товарів. А завдяки «мікрохвилям» можливо створювати дуже маленькі коробки, для одержання яких зі звичайного картону довелося б брати тонкі сорти, при цьому презентабельність коробки зі звичайного картону знаходиться на дуже низькому рівні, така коробка легко деформується.</li>
                        <li>3. Конструктивні можливості каширування мікрогофрокартону та гофрокартону дозволяють приймати найрізноманітніші дизайнерські рішення в створенні будь-якої упаковки.                </li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="slider">
            <div class="slider-container">
                <div class="slider-arrow slider-arrow--prev">
                    <svg width="18" height="32" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1395 32L17.8083 30.3367L3.51832 16L17.8083 1.66332L16.1395 3.96059e-06L0.1916 16L16.1395 32Z" fill="#1B3C65"/>
                    </svg>
                </div>
                <div class="slider-arrow slider-arrow--next">
                    <svg width="18" height="32" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.86047 -2.91785e-07L0.191651 1.66332L14.4817 16L0.191656 30.3367L1.86047 32L17.8084 16L1.86047 -2.91785e-07Z" fill="#1B3C65"/>
                    </svg>
                </div>
                <div class="slider-inner">
                    <div class="slide" th:each="product : ${products}">
                        <div class="slide-inner">
                            <div class="slider__close"></div>
                            <div class="slide-row">
                                <div class="slide-column slide-column--decor">
                                    <img th:src="${'/img/maramax-images-compressed/cashed/' + product.number + '.png'}" alt="" class="slide-image">
                                </div>
                                <div class="slide-column slide-column--content">
                                    <h2 class="slide-title"></h2>
                                    <div th:text="${product.number}" class="slide-count"></div>
                                    <p class="slide-description" th:text="${product.description}"></p>
                                    <div class="slide-btn js-open-modal-form">
                                        Замовити
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
  </main>

    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
  </body>
</html>