<!DOCTYPE html>
<html lang="en">
<div th:replace="admin/blocks/head_admin :: head_admin"></div>
<body>
    <div th:replace="admin/blocks/header_admin :: header_admin"></div>

    <div class="container">
        <h2 class="p-3 display-5">Редагувати сторінку кар'єра</h2>

        <form method="POST" th:action="@{/admin/page/{id}(id=${page.getId()})}" th:object="${page}">
            <div class="form-control">
                <div class="p-2">
                    <div class="input-group">
                      <span class="input-group-text">
                        <label for="name">Назва сторінки</label>
                      </span>
                        <input class="form-control" type="text" th:field="*{name}" id="name" placeholder="Назва сторінки">
                        <span th:if="${#fields.hasErrors('name')}" style="color:red" th:errors="*{name}"></span>
                    </div>
                </div>

                <div class="p-2">
                    <div class="input-group">
                      <span class="input-group-text">
                        <label for="summernote-input">Контент:</label>
                      </span>
                        <div class="form-control">
                            <textarea type="text" rows="4" id="summernote-input" placeholder="content" class="form-control"
                                    th:field="*{content}" autocomplete="off"></textarea>
                            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></span>
                        </div>
                    </div>
                </div>

                <div class="p-2">
                    <div class="input-group">
                      <span class="input-group-text">
                        <label for="title">Заголовок</label>
                      </span>
                        <input class="form-control" type="text" th:field="*{title}" id="title" placeholder="Заголовок">
                        <span th:if="${#fields.hasErrors('title')}" style="color:red" th:errors="*{title}"></span>
                    </div>
                </div>

                <label for="js_file">Файл скриптів (для розробника)</label>
                <input type="text" th:field="*{js_file}" id="js_file" placeholder="Заголовок">
                <span th:if="${#fields.hasErrors('js_file')}" style="color:red" th:errors="*{js_file}"></span>

                <label for="css_file">Файл стилів (для розробника)</label>
                <input type="text" th:field="*{css_file}" id="css_file" placeholder="Заголовок">
                <span th:if="${#fields.hasErrors('css_file')}" style="color:red" th:errors="*{css_file}"></span>

            </div>

            <div class="p-2">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                  <button class="btn btn-outline-secondary" type="submit">
                    Зберегти зміни 
                  </button>
                </div>
            </div>
        
            <input type="submit" value="Зберегти зміни">
        </div>
    </form>

    <div th:replace="admin/blocks/footer_admin :: footer_admin"></div>
</body>
</html>