<!DOCTYPE html>
<html lang="en">
  <div th:replace="admin/blocks/head_admin :: head_admin"></div>
  <body>
    <div th:replace="admin/blocks/header_admin :: header_admin"></div>

    <div class="container p-4 ">
      <form action="#" th:action="@{/admin/product/create}" enctype="multipart/form-data" method="post">
        <div th:replace="admin/product/form :: productform"></div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button class="btn btn-outline-secondary" type="button">
          <input type="submit" value="Зберегти зміни">
        </button>
        </div>
      </form>
    </div>

    <div th:replace="admin/blocks/footer_admin :: footer_admin"></div>
  </body>
</html>