<!DOCTYPE html>
<html lang="ru">
    <div th:replace="blocks/head :: head"></div>
    <body>
    <div th:replace="blocks/header :: header"></div>

        <main class="main">
            <section class="intro">
                <div class="container">
                    <div class="inner">
                        <h1 class="section-intro-title main-title">
                            Про компанiю <br>
                            Maramax
                        </h1>
                        <h2 class="section-intro-subtitle">
                            21 рік лідеру&nbsp;ринку
                        </h2>
                        <p class="section-intro-text">
                            Компанія працює в сегменті <span class="inline-block">business-to-business,</span> де є надійним постачальником для українських і Зарубіжних&nbsp;компаній.
                        </p>
                    </div>
                </div>
            </section>

            <section class="about">
                <div class="container">
                    <div class="section-column section-column--content">
                        <h2 class="section-title">
                            Компанія ТОВ <span class="company-uppercase"> «Марамакс»</span>
                        </h2>

                        <p class="section-text">
                            заснована в 2001-му році, спеціалізується на послугах з повного циклу виготовлення різноманітної продукції з картону, мікро та гофрокартону – упаковка, POS-матеріали, та інше (розробка конструкцій, макетів та дизайну).
                        </p>

                        <p class="section-text">
                            Компанія використовує креативні дизайнерські рішення для задоволення потреб замовників, пов’язаних з підвищенням конкурентоспроможності та ефективної діяльності. Всі наші клієнти отримують якісні індивідуальні варіанти рішень згідно їх запитів і потреб, починаючи з розробки ідеї і конструктиву та закінчуючи постачанням готової продукції на склад клієнта.
                        </p>

                        <p class="section-text">
                            Вся продукція виробляється з кращих матеріалів вітчизняних та іноземних виробників. В основі нашого вибору постачальників сировини лежить бездоганна якість продукції та безперервність поставок. Маємо власні потужності з виробництва різних типів гофрокартону. Вся кінцева продукція виготовляється на власній виробничій базі, що безпосередньо впливає на вигідну цінову політику.
                        </p>

                        <p class="section-text">
                            <span class="company-uppercase"> «Марамакс»</span> співпрацює з відомими компаніями різних галузей: харчова та кондитерська, парфюмерно-косметична, побутова хімія, алкогольна, фармацевтична, текстильна, товари промислової групи. Виробництво компанії оснащене передовим сучасним обладнанням, це забезпечує найвищу якість всього циклу виробництва. В 2015-му році наша компанія увійшла до ПОЛЬСЬКО-УКРАЇНСЬКОЇ промислової палати.
                        </p>

                        <p class="section-text">
                            В 2020-му році компанія отримала сертифікат ISO 9001:2015
                        </p>

                        <p class="section-text">
                            Однією незаперечною перевагою співпраці з компанією <span class="company-uppercase"> «Марамакс»</span> -  є чудовий сервіс. Це було б неможливим без висококваліфікованих фахівців, які мають успішний багаторічний досвід продажів і обслуговування. Завдяки професіоналізму, відповідальності, глибоким знанням і прагненню максимально задовольнити побажання клієнта, співробітники компанії перетворили процедуру продажу і обслуговування в справжнє мистецтво.
                        </p>
                    </div>



                    <div class="section-column section-column--decor">
                        <img src="/img/intro-book-image-mob.png" alt="Компанія ТОВ “MARAMAX” вступила у Польско -Українсько господарчої палати" class="section-image section-image--mob">
                        <img src="/img/intro-book-image-desk.png" alt="Компанія ТОВ “MARAMAX” вступила у Польско -Українсько господарчої палати" class="section-image section-image--desk">
                    </div>
                </div>
            </section>

            <section class="features features-top">
                <div class="container">
                    <div class="section-row">
                        <div class="section-column section-column--two-items">
                            <h2 class="section-title">Компанія надає повний спектр з різних видів послуг, а саме:</h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    Розробка конструкції, дизайну з «нуля»
                                </li>
                                <li class="list__item">
                                    Висічка
                                </li>
                                <li class="list__item">
                                    Друк
                                </li>
                                <li class="list__item">
                                    Каширування
                                </li>
                            </ul>

                            <ul class="list">
                                <li class="list__item">
                                    Конгрев
                                </li>
                                <li class="list__item">
                                    Ламінація
                                </li>
                                <li class="list__item">
                                    Лакування
                                </li>
                                <li class="list__item">
                                    Послуги з розробки картонних матеріалів POS
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-row">
                            <div class="section-column section-column--two-items">
                                <h2 class="section-title">
                                    Наші фахівці при виборі конструкції і типу картонної упаковки враховують:
                                </h2>
                                <ul  class="list list--first-child">
                                    <li class="list__item">
                                        Властивості товару (вага, розмір тощо) підлягають упаковці
                                    </li>
                                    <li class="list__item">
                                        Призначення упаковки
                                    </li>
                                    <li class="list__item">
                                        Технологічні вимоги підприємства
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li class="list__item">
                                        Тираж упаковки
                                    </li>
                                    <li class="list__item">
                                        Співвідношення вартості товару до вартості упаковки
                                    </li>
                                </ul>
                            </div>
                    </div>

                    <section class="about">
                        <div class="container">
                            <div class="section-column section-column--content">
                                <h2 class="section-title">
                                    Товариство <span class="company-uppercase"> «Марамакс»</span> пропонує своїм клієнтам
                                </h2>
        
                                <p class="section-text">
                                    виготовлення упаковки від «А» до «Я». Даний процес відбувається в кілька етапів. Її втілення в життя починається з креслень для певного товару. Далі на них наносяться ексклюзивний дизайн, який бажає замовник.
                                </p>
        
                                <p class="section-text">
                                    Потім виводяться офсетні форми, робиться підготовка картону або паперу. Після чого за допомогою офсетного або флексодруку наноситься малюнок. Завдяки новітнім технологіям вдається передати природний колір зображення. Для створення високої якості застосовується міцний картон. Екологічно чистий, довговічний і не дуже дорогий. Упаковкою користуються такі виробництва, як: алкогольне; кондитерське; фармацевтика; косметологія; побутова хімія; легка промисловість.
                                </p>
        
                                <p class="section-text">
                                    Картонна упаковка - це важлива складова, яка багато в чому говорить про якість продукції. В даний час вся продукція потрапляє до покупців в ній. Неодмінно вона потрібна для захисту продуктів від зовнішніх пошкоджень, які можуть виникнути під час зберігання і перевезення. А також вона захистить від підробок, так як на ній обов'язково повинна стояти торгова марка виробника товару.
                                </p>
                            </div>

                            <!-- <div class="section-column section-column--decor">
                                <img src="/img/intro-book-image-mob.png" alt="Компанія ТОВ “MARAMAX” вступила у Польско -Українсько господарчої палати" class="section-image section-image--mob">
                                <img src="/img/intro-book-image-desk.png" alt="Компанія ТОВ “MARAMAX” вступила у Польско -Українсько господарчої палати" class="section-image section-image--desk">
                            </div> -->
                        </div>
                    </section>

                    <div class="section-row">
                        <div class="section-column section-column--two-items">
                            <h2 class="section-title">
                                Очевидною перевагою підприємства є:
                            </h2>
                            <ul  class="list list--first-child">
                                <li class="list__item">
                                    Вся кінцева продукція виготовляється на власній виробничій базі
                                </li>
                                <li class="list__item">
                                    Співпраця по закупівлі сировини з провідними Європейськими та Українськими заводами, що впливає на якість продукції
                                </li>
                                <li class="list__item">
                                    Клієнти отримують якісні індивідуальні варіанти вирішення їх запитів і потреб, починаючи з розробки ідеї і конструктиву, і закінчуючи постачанням готової продукції на склад клієнта
                                </li>
                            </ul>
                            <ul class="list">
                                <li class="list__item">
                                    Автоматизація більшості процесів на виробництві
                                </li>
                                <li class="list__item">
                                    Повнокольорова каширована упаковка з мікрогофрокартону та гофрокартону забезпечує візуальну привабливість продукту та захист від механічних пошкоджень
                                </li>
                                <li class="list__item">
                                    Широкий асортимент послуг – вироби з картону, мікрогофрокартону та гофрокартону, що дає можливість співпрацювати з різними галузями
                                </li>
                            </ul>
                        </div>
                </div>


                    <div class="section-row">
                        <div class="section-column section-column--two-items">
                            <h2 class="section-title">
                                Основними принципами роботи є
                            </h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    Оперативність при здійсненні замовлення
                                </li>
                                <li class="list__item">
                                    Повна конфіденційність і надійність в роботі
                                </li>
                                <li class="list__item">
                                    Бездоганна якість
                                </li>
                                <li class="list__item">
                                    Стабільність
                                </li>
                            </ul>
                            <ul class="list">
                                <li class="list__item">
                                    Негайне реагування на будь-які питання
                                </li>
                                <li class="list__item">
                                    Обробка запиту наших клієнтів в найкоротші терміни
                                </li>
                                <li class="list__item">
                                    Індивідуальний підхід
                                </li>
                            </ul>
                        </div>
                        <div class="section-column section-column--decor-first">
                            <div class="section-decor">
                                <video class="section-decor__image" controls="controls">
                                    <source src="/promo.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>
                    <div class="section-row">
                        <div class="section-column section-column--decor-second">
                            <div class="section-decor">
<!--                                <img src="/img/about-door-first.png" alt="" class="section-decor__image section-decor__image&#45;&#45;first">-->
<!--                                <img src="/img/about-door-second.png" alt="" class="section-decor__image section-decor__image&#45;&#45;second">-->
                            </div>
                        </div>
                        <div class="section-column section-column--two-items">
                            <h2 class="section-title">
                                Що ми враховуємо при виборі типу картону
                            </h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    Властивості товару (вага, розмір тощо)
                                </li>
                                <li class="list__item">
                                    Розробка конструкції, дизайну та вибір картону
                                </li>
                                <li class="list__item">
                                    Призначення упаковки
                                </li>
                            </ul>
                            <ul class="list">
                                <li class="list__item">
                                    Технологічні вимоги підприємства
                                </li>
                                <li class="list__item">
                                    Співвідношення вартості товару до вартості упаковки
                                </li>
                                <li class="list__item">
                                    Тираж товару
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="section-row">
                        <h2 class="section-title">
                            Наше обладнення
                        </h2>
                        <ul class="list list--first-child">
                            <li class="list__item">
                                Офсетна листова друкарська машина Heildelberg SPEEDMASTER CD102, максимальний формат 720 х 1020 мм, 5 друкарських секцій + ВД лак, продуктивністю 10 тис / год
                            </li>
                            <li class="list__item">
                                Офсетна листова друкарська машина Планета Р 47, максимальний формат 900 х 1300 мм, 4 друкові секції
                            </li>
                            <li class="list__item">
                                УФ лакувальна машина
                            </li>
                            <li class="list__item">
                                Каширувальний автомат
                            </li>
                            <li class="list__item">
                                Ламінатор
                            </li>
                            <li class="list__item">
                                Різалка
                            </li>
                            <li class="list__item">
                                Машина для вклейки віконець
                            </li>
                        </ul>
                        <ul class="list">
                            <li class="list__item">
                                Для висікання виробів на підприємстві встановлені
                            </li>
                            <li class="list__item">
                                Brausse, форматом 750 х 1050 мм, продуктивністю 7 тис / год. (На машині також використовується конгревне тиснення)
                            </li>
                            <li class="list__item">
                                Тигель форматів: 750 x 1050 мм, 900 x 1300 мм, 1300 x 1800 мм.
                            </li>
                            <li class="list__item">
                                Три фальцювально-склеювальні машини, розраховані для склеювання продукції різної конфігурації
                            </li>
                            <li class="list__item">
                                Флатовальна машина
                            </li>
                            <li class="list__item">
                                Гофроагрегат
                            </li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="slider-content">
                <div class="container">
                    <a href="./product-1.html" class="slider-arrow slider-arrow--prev" style="">
                        <svg width="18" height="32" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M16.1395 32L17.8083 30.3367L3.51832 16L17.8083 1.66332L16.1395 3.96059e-06L0.1916 16L16.1395 32Z" fill="#1B3C65"></path>
                        </svg>
                    </a>
                    <a href="./product-3.html" class="slider-arrow slider-arrow--next" style="">
                        <svg width="18" height="32" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.86047 -2.91785e-07L0.191651 1.66332L14.4817 16L0.191656 30.3367L1.86047 32L17.8084 16L1.86047 -2.91785e-07Z" fill="#1B3C65"></path>
                        </svg>
                    </a>
                    <div class="slider">
                        <div class="slider__item">
                            <img src="/img/maramax-images-compressed/equipment/1.jpg" alt="slide" class="slider__image">
                        </div>
                        <div class="slider__item">
                            <img src="/img/maramax-images-compressed/equipment/2.jpg" alt="slide" class="slider__image">
                        </div>
                        <div class="slider__item">
                            <img src="/img/maramax-images-compressed/equipment/3.jpg" alt="slide" class="slider__image">
                        </div>
                        <div class="slider__item">
                            <img src="/img/maramax-images-compressed/equipment/4.jpg" alt="slide" class="slider__image">
                        </div>
                        <div class="slider__item">
                            <img src="/img/maramax-images-compressed/equipment/5.jpg" alt="slide" class="slider__image">
                        </div>
                        <div class="slider__item">
                            <img src="/img/maramax-images-compressed/equipment/6.jpg" alt="slide" class="slider__image">
                        </div>
                        <div class="slider__item">
                            <img src="/img/maramax-images-compressed/equipment/7.jpg" alt="slide" class="slider__image">
                        </div>
                    </div>
                </div>
            </section>

            <section class="features features-bottom">
                <div class="container">
                    <div class="section-row">
                        <h2 class="section-title">
                            Наше виробництво
                        </h2>
                        <h3 class="section-subtitle">
                            <span class="company-uppercase"> Марамакс</span> має в наявності обладнання європейських і азіатських виробників, що впливає на ціну, якість і термін реалізації продукції. На виробництві наша компанія надає такі послуги:
                        </h3>
                        <ul class="list list--three-items list--first-child">
                            <li class="list__item">
                                Підготовка до друку
                            </li>
                            <li class="list__item">
                                Порізка і підготовка листів паперу до друку
                            </li>
                            <li class="list__item">
                                Лакування
                            </li>
                            <li class="list__item">
                                Каширування
                            </li>
                        </ul>
                        <ul class="list list--three-items">
                            <li class="list__item">
                                Флотовка
                            </li>
                            <li class="list__item">
                                Друк
                            </li>
                            <li class="list__item">
                                Ламінування
                            </li>
                            <li class="list__item">
                                Висікання
                            </li>
                        </ul>
                        <ul class="list list--three-items">
                            <li class="list__item">
                                Склеювання
                            </li>
                            <li class="list__item">
                                Збірка, упаковка
                            </li>
                        </ul>
                    </div>
                    <div class="section-row">
                        <h2 class="section-title">
                            Так само на виробництві є обладнання для виробництва металевих P.O.S матеріалів і ми можемо надавати такі послуги:
                        </h2>
                        <ul class="list list--three-items list--first-child">
                            <li class="list__item">
                                Розробка конструкції та підбір матеріалів
                            </li>
                            <li class="list__item">
                                Термо-вакуумне формування пластика
                            </li>
                            <li class="list__item">
                                Фрезерні роботи
                            </li>
                        </ul>
                        <ul class="list list--three-items">
                            <li class="list__item">
                                Виправлення, разбухтовка, порізка дроту
                            </li>
                            <li class="list__item">
                                Зварювальні роботи
                            </li>
                            <li class="list__item">
                                Погибко листового металу, труби, дротяних і сіткових виробів
                            </li>
                        </ul>
                        <ul class="list list--three-items">
                            <li class="list__item">
                                Полірозмірно-порошкове фарбування
                            </li>
                            <li class="list__item">
                                Виконання ручних операцій з виготовлення POS матеріалів (збірка, термо-гнучка пластика, приклейка скотча, накочення самоклеючої плівки ORACAL та ін.)
                            </li>
                        </ul>
                    </div>
                    <div class="section-row">
                        <div class="section-column section-column--three-items">
                            <h2 class="section-title">
                                Підготовки до друку
                            </h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    На кожен колір виготовляється окрема форма, у тому числі для вибіркового лакування
                                </li>
                            </ul>
                        </div>
                        <div class="section-column section-column--three-items">
                            <h2 class="section-title">
                                Друк
                            </h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    Офсетний друк здійснюється на листових матеріалах. Можливий друк різними типами фарб. Якість друку залежить від якості картону, який використовується
                                </li>
                            </ul>
                        </div>
                        <div class="section-column section-column--three-items">
                            <h2 class="section-title">
                                Конгрев
                            </h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    Додавання рельєфності окремої частини зображення
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-row">
                        <h2 class="section-title">
                            Лакування
                        </h2>
                        <ul class="list list--three-items list--first-child">
                            <li class="list__item">
                                Поліпшення виду картонної упаковки
                            </li>
                            <li class="list__item">
                                Тип лаку вибирається залежно від технологічних і цінових вимог до упаковки
                            </li>
                        </ul>
                        <ul class="list list--three-items">
                            <li class="list__item">
                                Підвищення зносостійкості
                            </li>
                        </ul>
                        <ul class="list list--three-items">
                            <li class="list__item">
                                Захист від вологи і подряпин
                            </li>
                        </ul>
                    </div>
                    <div class="section-row">
                        <div class="section-column section-column--three-items">
                            <h2 class="section-title">
                                Каширування
                            </h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    Каширування чи кашировка являє собою друкарський процес наклеювання менш щільного матеріалу на більш щільну основу. Для підвищення щільності та міцності пакування
                                </li>
                            </ul>
                        </div>
                        <div class="section-column section-column--three-items">
                            <h2 class="section-title">
                                Ламінування
                            </h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    Захист упаковки від вологи. Тип плівки для ламінування визначається технологічними вимогами до упаковки
                                </li>
                            </ul>
                        </div>
                        <div class="section-column section-column--three-items">
                            <h2 class="section-title">
                                Вклейка прозорих віконець
                            </h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    Вклейка прозорих віконець
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-row">
                        <div class="section-column section-column--three-items">
                            <h2 class="section-title">
                                Пакування
                            </h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    Залежно від виду і розміру, готова продукція пакується в гофроящики або укладається на палету
                                </li>
                            </ul>
                        </div>
                        <div class="section-column section-column--three-items">
                            <h2 class="section-title">
                                Виготовлення висічних форм
                            </h2>
                            <ul class="list list--first-child">
                                <li class="list__item">
                                    Площа висічної штанцформи визначається площею друкарського листа
                                </li>
                            </ul>
                        </div>
                        <div class="section-column section-column--three-items"></div>
                    </div>
                </div>
            </section>

            <section class="partners">
                <div class="container">
                    <div class="cards">
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-1.svg" alt="CocaCola" class="cards__image cards__image--1">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-2.svg" alt="Loreal paris" class="cards__image cards__image--2">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-3.svg" alt="ABInBel" class="cards__image cards__image--3">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-4.svg" alt="BiC" class="cards__image cards__image--4">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-5.svg" alt="Mondelez International" class="cards__image cards__image--5">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-6.svg" alt="Pepsico" class="cards__image cards__image--6">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-7.svg" alt="Vitmark" class="cards__image cards__image--7">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-8.svg" alt="ecosoft" class="cards__image cards__image--8">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-9.svg" alt="FERERO ROCHER" class="cards__image cards__image--9">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-10.svg" alt="Carlsberg" class="cards__image cards__image--10">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-11.svg" alt="Nestle" class="cards__image cards__image--11">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-12.svg" alt="Рудь" class="cards__image cards__image--12">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-13.svg" alt="NIVEA" class="cards__image cards__image--13">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-14.svg" alt="IDS GROUP UKRAINE" class="cards__image cards__image--14">
                            </div>
                        </div>
                        <div class="cards__item">
                            <div class="cards__decorate">
                                <img src="/img/svg/partners-image-15.svg" alt="GLOBAL SPIRITS" class="cards__image cards__image--15">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="sertificate">
                <div class="container">
                    <div class="section-column section-column--content">
                        <h2 class="section-title">
                            Компанія ТОВ <span class="company-uppercase"> «Марамакс»</span> вступила у 
                            Польско -Українсько господарчої палати
                        </h2>
                        <p class="section-text">
                            Польсько-Українська Господарча Палата — організація, яка об’єднує польські та українські суб’єкти господарської діяльності, що зацікавлені співробітництвом, а також виробничою і науково-технічною діяльністю. Палата надає допомогу в кооперації фірм, презентації суб’єктів господарської діяльності обох держав.
                        </p>
                    </div>
                    <div class="section-column section-column--decor">
                        <img src="/img/sertificat.png" alt="Компанія ТОВ “MARAMAX” вступила у Польско -Українсько господарчої палати" class="section-image">
                    </div>
                </div>
            </section>
        </main>

        <footer class="footer" th:insert="blocks/footer :: footer"></footer>

    </body>
</html>