<!DOCTYPE html>
<html lang="en">
    <div th:replace="blocks/head :: head"></div>
    <body>
    <div th:replace="blocks/header :: header"></div>

        <main class="main">
            <section class="intro">
                <div class="container">
                    <div class="inner">
                        <h1 class="section-intro-title main-title">
                            Про компанiю <br>
                            Maramax
                        </h1>
                        <h2 class="section-intro-subtitle" th:text="${yearsLeading + ' лідери&nbsp;ринку'}"></h2>
                        <p class="section-intro-text">
                            Компанія працює в сегменті <span class="inline-block">business-to-business,</span> де є надійним постачальником для українських і Зарубіжних&nbsp;компаній.
                        </p>
                    </div>
                </div>
            </section>

            <div th:utext="${page.content}"></div>
        </main>

        <footer class="footer" th:insert="blocks/footer :: footer"></footer>

    </body>
</html>