<!DOCTYPE html>
<html lang="en">
  <div th:replace="blocks/head :: head"></div>
  <body>
    <div th:replace="blocks/header :: header"></div>

    <main class="main">
      <section class="intro">
        <div class="container">
          <div class="inner">
            <h1 class="section-title main-title">
              Кар'єра
            </h1>
          </div>
        </div>
      </section>
      <section class="features features-top">
        <div class="content-container">
          <div class="content">
            <div class="container">
              <div class="section-column">

                <h2 class="section-title">Пропонуємо</h2>

                <h2 class="section-item__titls">
                  Компанія ТОВ <span class="company-uppercase"> «Марамакс»</span>
                </h2>

                <div class="section-item__description_p">
                  <p> Дає   унікальну можливість долучитись до  виробництва  гофрокартону, картонно-тарної упаковки та POS матеріалів.</p>  <br>
                  <p> Ми завжди раді новим професіоналам у своїй команді в компанії.</p><br>
                  <p> Ви  можете побудувати успішну кар'єру, а також  розпочати професійне зростання  , маючи невеликий досвід ,  або без досвіду роботи.</p>
                </div>

                <h2 class="section-item__title">
                  Приєднуйтесь до команди професіоналів та розвивайтеся разом з нами!
                </h2>
                  <ul class="list list--first-child">
                    <li class="list__item">
                      Ознайомтесь з актуальними вакансіями.
                    </li>
                    <li class="list__item">
                      Направте резюме через форму «залишити резюме».
                    </li>
                  </ul>

                <h2 class="section-item__title">
                  Якщо у списку вакансій немає тієї, яка відповідає Вашому досвіду та освіті, надішліть своє резюме за вказаною адресою та в темі листа напишіть бажану посаду.
                </h2>
                  <ul class="list list--first-child">
                      <li class="list__item">
                        За потреби складіть супровідний лист, в якому опишіть  свої навички та досвід, а також вкажіть Ваші побажання щодо посади.
                      </li>
                      <li class="list__item">
                        Добре складене резюме та супровідний лист допоможуть нам зрозуміти Ваші очікування та зв'язатися з Вами за наявності вакансії, що відповідає Вашому досвіду, кваліфікації та знанням.
                      </li>
                  </ul>
                  <div>
                    <h2 class="section-item__title">Cлідкуй за актуальними вакансіями:</h2>
                    <a href="https://rabota.ua/ua/company796356">
                      <img src="/img/icons/rabotaua.png" alt="Rabota.ua" class="img-icons-style">
                    </a>
                    <a href="https://www.work.ua/jobs/by-company/1189480/">
                      <img src="/img/icons/work_light_bgs.png" alt="Work.ua" class="img-icons-style">
                    </a>
                  </div>

                  <div>
                    <h2 class="section-item__title">
                      Відділ кадрів
                    </h2>

                    <div class="section-item__description_p_contact">
                      <p>У Вас залишилися питання? Зв’яжіться з нашим відділом кадрів.</p>  <br>
                    </div>
                    <a href="tel:+38-067-507-65-15">
                    <p class="section-item__titls_contact"> +38 (067) 507-65-15</p>
                    </a>
                  </div>

              </div>
              <div class="section-column section-column--form section-form" th:insert="blocks/callback-form :: callback"></div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
  </body>
</html>