<!DOCTYPE html>
<html lang="en">
  <div th:replace="blocks/head :: head"></div>
  <body>
    <div th:replace="blocks/header :: header"></div>

    <main class="main">
      <section class="intro">
        <div class="container">
            <div class="inner">
                <h1 class="section-intro-title main-title">
                  Контакти
                </h1>
            </div>
        </div>
      </section>

      <section class="intro">
        <div class="container">
          <div class="cards">
            <div class="card" th:each="contact : ${contacts}">
              <h2 class="card-title" th:text="${contact.name}"></h2>
              <p class="card-link" th:text="${contact.email}"></p>
              <a th:href="${'tel:' + contact.phone}" class="card-tel" th:text="${contact.phone}"></a>

              <br/>

              <span class="card-title-name" th:text="${contact.head_name}"></span>

              <p class="card-link" th:text="${contact.head_email}"></p>
              <a th:href="${'tel:' + contact.head_phone}" class="card-tel" th:text="${contact.head_phone}"></a>
            </div>
          </div>
        </div>
      </section>

    </main>
    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
  </body>
</html>