<!DOCTYPE html>
<html lang="en">
  <div th:replace="blocks/head :: head"></div>
  <body>
    <div th:replace="blocks/header :: header"></div>

    <main class="main">
      <section class="intro">
        <div class="container">
            <div class="inner">
                <h1 class="section-intro-title main-title">
                  Контакти
                </h1>
            </div>
        </div>
      </section>

      <section class="intro">
        <div class="container">
          <div class="cards">

            <div class="card">
              <h2 class="card-title">Логістика та постачання</h2>
              <p class="card-link">o.nesterchuk@maramax.kiev.ua</p>
              <a href="tel:+38-097-005-20-20" class="card-tel">+38 (097) 005-20-20</a>
              
              <br/>

              <span class="card-title-name">
                Мартиненко Оксана
              </span>

              <a href="tel:+38-097-036-85-90" class="card-tel">+38 (097) 036-85-90</a>
            </div>

            <div class="card">
              <h2 class="card-title">Бухгалтерія</h2>
              <p class="card-link">maramax@bigmir.net</p>
              <a href="tel:+38-044-276-25-25" class="card-tel">+38 (044) 276-25-25</a>
            </div>

            <div class="card">
              <h2 class="card-title">Відділ кадрів</h2>
                <p class="card-link">o.ostrova@maramax.kiev.ua</p>
                <a href="tel:+38-067-507-65-15" class="card-tel">+38 (067) 507-65-15</a>
            </div>

            <div class="card">
              <h2 class="card-title">Комерційний відділ</h2>
              <p class="card-link">office@maramax.kiev.ua</p>
              <a href="tel:+38-097-005-20-20" class="card-tel">+38 (097) 005-20-20</a>

              <br/>

              <span class="card-title-name">
                Кисільов Максим - керівник відділу збуту
              </span>

              <p class="card-link">m.kysilov@maramax.kiev.ua</p>
              <a href="tel:+38-067-400-08-52" class="card-tel">+38 (067) 400-08-52</a>
            </div>
          </div>
        </div>
      </section>

    </main>
    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
  </body>
</html>