<!DOCTYPE html>
<html lang="ru">
  <div th:replace="blocks/head :: head"></div>
  <body>
    <div th:replace="blocks/header :: header"></div>

    <main class="main">
      <section class="intro">
        <div class="container">
          <div class="inner">
            <h1 class="section-title main-title">
              Публiкації <br>
              та новини
            </h1>
          </div>
        </div>
      </section>
      <section class="sertificate">
        <div class="container">
          <div class="section-column section-column--decor">
            <img src="/img/sertificat.png" alt="Компанія ТОВ “MARAMAX” вступила у Польско -Українсько господарчої палати" class="section-image">
          </div>
          <div class="section-column section-column--content">
            <h2 class="section-title">
              Компанія ТОВ “MARAMAX” вступила
              у Польско -Українсько господарчої палати
            </h2>
            <p class="section-text">
              Польсько-Українська Господарча Палата — організація, яка об’єднує польські та українські суб’єкти господарської діяльності, що зацікавлені співробітництвом, а також виробничою і науково-технічною діяльністю. Палата надає допомогу в кооперації фірм, презентації суб’єктів господарської діяльності обох держав.
            </p>
          </div>
        </div>
      </section>
      <section class="publications">
        <div class="container">
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                POINT OF SALES, АБО МІСЦЕ ПРОДАЖУ ЗАМІНИТИ НЕ МОЖНА
              </a>
            </h3>
            <p class="card-text">
              В умовах запеклої боротьби за споживача дедалі активнішу роль відіграють POS-матеріали (Point Of Sales – з англ. дослівно «місце продажів»). Дослідженнями доведено, що майже 60% покупців роблять с вибір безпосередньо в місці здійснення покупки. Саме тут вони й натрапляють на POS-матеріали – засоби оформлення місця продажів, які привертають увагу клієнта до виробів і мотивують до придбання товару.
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                ВИГОТОВЛЕННЯ РЕКЛАМНИХ ПІДЛОГОВИХ СТІЙОК ВІД ВИРОБНИКА
              </a>
            </h3>
            <p class="card-text">
              Рекламні підлогові стойкіІменно реклама, в першу чергу, привертає увагу потенційного клієнта. Чим якісніше реклама, тим більше людей цікавиться Вашою пропозицією. Рекламні підлогові стійки повинні своїм зовнішнім виглядом чіпляти погляд і направляти людини на придбання товару або послуг.
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                POINT OF SALES, АБО МІСЦЕ ПРОДАЖУ ЗАМІНИТИ НЕ МОЖНА
              </a>
            </h3>
            <p class="card-text">
              В умовах запеклої боротьби за споживача дедалі активнішу роль відіграють POS-матеріали (Point Of Sales – з англ. дослівно «місце продажів»). Дослідженнями доведено, що майже 60% покупців роблять с вибір безпосередньо в місці здійснення покупки. Саме тут вони й натрапляють на POS-матеріали – засоби оформлення місця продажів, які привертають увагу клієнта до виробів і мотивують до придбання товару.
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                ВИГОТОВЛЕННЯ РЕКЛАМНИХ ПІДЛОГОВИХ СТІЙОК ВІД ВИРОБНИКА
              </a>
            </h3>
            <p class="card-text">
              Рекламні підлогові стойкіІменно реклама, в першу чергу, привертає увагу потенційного клієнта. Чим якісніше реклама, тим більше людей цікавиться Вашою пропозицією. Рекламні підлогові стійки повинні своїм зовнішнім виглядом чіпляти погляд і направляти людини на придбання товару або послуг.
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                POINT OF SALES, АБО МІСЦЕ ПРОДАЖУ ЗАМІНИТИ НЕ МОЖНА
              </a>
            </h3>
            <p class="card-text">
              В умовах запеклої боротьби за споживача дедалі активнішу роль відіграють POS-матеріали (Point Of Sales – з англ. дослівно «місце продажів»). Дослідженнями доведено, що майже 60% покупців роблять с вибір безпосередньо в місці здійснення покупки. Саме тут вони й натрапляють на POS-матеріали – засоби оформлення місця продажів, які привертають увагу клієнта до виробів і мотивують до придбання товару.
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                ВИГОТОВЛЕННЯ РЕКЛАМНИХ ПІДЛОГОВИХ СТІЙОК ВІД ВИРОБНИКА
              </a>
            </h3>
            <p class="card-text">
              Рекламні підлогові стойкіІменно реклама, в першу чергу, привертає увагу потенційного клієнта. Чим якісніше реклама, тим більше людей цікавиться Вашою пропозицією. Рекламні підлогові стійки повинні своїм зовнішнім виглядом чіпляти погляд і направляти людини на придбання товару або послуг.
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                POSТУЛАТ
              </a>
            </h3>
            <p class="card-text">
              Картонные POS материалы – развивающийся сегмент О целевом предназначении POS (Point of Sales) материалов как отдельного вида рекламной продукции и о преимуществах изготовления их из картона рассказал Александр Мартыненко, генеральный директор компании Maramax
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                УПАКОВКА ИЗ ГОФРОКАРТОНА
              </a>
            </h3>
            <p class="card-text">
              Сегодня сложно найти на витринах магазинов товар без упаковки. В нашем современном мире пакуют все. Тара и упаковка могут быть из стекла, пластика, полиэтилена, бумаги, картона и гофрокартона. Причем из всего перечисленного наиболее универсальной и востребованной является упаковка из гофрокартона.
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                POSТУЛАТ
              </a>
            </h3>
            <p class="card-text">
              Картонные POS материалы – развивающийся сегмент О целевом предназначении POS (Point of Sales) материалов как отдельного вида рекламной продукции и о преимуществах изготовления их из картона рассказал Александр Мартыненко, генеральный директор компании Maramax
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                УПАКОВКА ИЗ ГОФРОКАРТОНА
              </a>
            </h3>
            <p class="card-text">
              Сегодня сложно найти на витринах магазинов товар без упаковки. В нашем современном мире пакуют все. Тара и упаковка могут быть из стекла, пластика, полиэтилена, бумаги, картона и гофрокартона. Причем из всего перечисленного наиболее универсальной и востребованной является упаковка из гофрокартона.
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                POSТУЛАТ
              </a>
            </h3>
            <p class="card-text">
              Картонные POS материалы – развивающийся сегмент О целевом предназначении POS (Point of Sales) материалов как отдельного вида рекламной продукции и о преимуществах изготовления их из картона рассказал Александр Мартыненко, генеральный директор компании Maramax
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                УПАКОВКА ИЗ ГОФРОКАРТОНА
              </a>
            </h3>
            <p class="card-text">
              Сегодня сложно найти на витринах магазинов товар без упаковки. В нашем современном мире пакуют все. Тара и упаковка могут быть из стекла, пластика, полиэтилена, бумаги, картона и гофрокартона. Причем из всего перечисленного наиболее универсальной и востребованной является упаковка из гофрокартона.
            </p>
          </div>
          <div class="card">
            <h3 class="card-title">
              <a href="./publication.html" class="card-link">
                POSТУЛАТ
              </a>
            </h3>
            <p class="card-text">
              Картонные POS материалы – развивающийся сегмент О целевом предназначении POS (Point of Sales) материалов как отдельного вида рекламной продукции и о преимуществах изготовления их из картона рассказал Александр Мартыненко, генеральный директор компании Maramax
            </p>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div th:insert="blocks/footer :: footer"></div>
    </footer>
  </body>
</html>