<!DOCTYPE html>
<html lang="en">
  <div th:replace="blocks/head :: head"></div>
  <body>
    <div th:replace="blocks/header :: header"></div>

    <main class="main" th:each="publication : ${publication}">
        <div class="container">
          <div class="section-column">
            <h1 class="section__title" th:text="${publication.title}"></h1>
          </div>
        </div>
      <section class="container">
        <div class="section-text--decor">
          <div class="section-text" th:utext="${publication.text}">
        </div>
      </div>
      </section>
    </main>

    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
  </body>
</html>