<!DOCTYPE html>
<html lang="ru">
  <div th:replace="blocks/head :: head"></div>
  <body>
    <div th:replace="blocks/header :: header"></div>

    <main class="main">
      <section class="intro">
        <div class="container">
          <div class="inner">
            <h1 class="section-title main-title">
              Публiкації <br>
              та новини
            </h1>
          </div>
        </div>
      </section>
      <section class="sertificate">
        <div class="container">
          <div class="section-column section-column--decor">
            <img src="/img/sertificat.png" alt="Компанія ТОВ “MARAMAX” вступила у Польско -Українсько господарчої палати" class="section-image">
          </div>
          <div class="section-column section-column--content">
            <h2 class="section-title">
              Компанія ТОВ “MARAMAX” вступила
              у Польско -Українсько господарчої палати
            </h2>
            <p class="section-text">
              Польсько-Українська Господарча Палата — організація, яка об’єднує польські та українські суб’єкти господарської діяльності, що зацікавлені співробітництвом, а також виробничою і науково-технічною діяльністю. Палата надає допомогу в кооперації фірм, презентації суб’єктів господарської діяльності обох держав.
            </p>
          </div>
        </div>
      </section>
      <section class="publications">
        <div class="container">
          <div class="card" th:each="publication : ${publications}">
            <h3 class="card-title">
              <a th:href="${'/publication/' + publication.slug}" class="card-link" th:text="${publication.title}"></a>
            </h3>
            <p class="card-text" th:text="${publication.description}"></p>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
  </body>
</html>