<!DOCTYPE html>
<html lang="ru">
  <div th:replace="blocks/head :: head"></div>
  <body>
    <div th:replace="blocks/header :: header"></div>

    <main class="main">
      <section class="intro">
        <div class="container">
          <div class="inner">
            <h1 class="section-title main-title">
              Кар'єра
            </h1>
          </div>
        </div>
      </section>
      <section class="features features-top">
        <div class="content-container">
          <div class="content">
            <div class="container">
              <div class="section-column">

                <h2 class="section-title">
                  Пропонуемо
                </h2>

                <h2 class="section-item__titls">
                  Компанія ТОВ “М А Р А М А К С” 
                </h2>

                <div class="section-item__description_p">
                  <p>Компанія Марамакс  дає   унікальну можливість долучитись до  виробництва  гофрокартону, картонно-тарної упаковки та POS матеріалів.</p>  <br>
                  <p> Ми завжди раді новим професіоналам у своїй команді в компанії.</p><br>
                  <p> Ви  можете побудувати успішну кар'єру, а також  розпочати професійне зростання  , маючи невеликий досвід ,  або без досвіду роботи.</p>
                </div>

                <h2 class="section-item__title">
                  Приєднуйтесь до команди професіоналів та розвивайтеся разом з нами!
                </h2>
                  <ul class="list list--first-child">
                    <li class="list__item">
                      Ознайомтесь з актуальними вакансіями.
                    </li>
                    <li class="list__item">
                      Направте резюме через форму «залишити резюме».
                    </li>
                  </ul>

                <h2 class="section-item__title">
                  Якщо у списку вакансій немає тієї, яка відповідає Вашому досвіду та освіті, надішліть своє резюме за вказаною адресою та в темі листа напишіть бажану посаду.
                </h2>
                  <ul class="list list--first-child">
                      <li class="list__item">
                        За потреби складіть супровідний лист, в якому опишіть  свої навички та досвід, а також вкажіть Ваші побажання щодо посади.
                      </li>
                      <li class="list__item">
                        Добре складене резюме та супровідний лист допоможуть нам зрозуміти Ваші очікування та зв'язатися з Вами за наявності вакансії, що відповідає Вашому досвіду, кваліфікації та знанням.
                      </li>
                  </ul>
                  <div>
                    <h2 class="section-item__title">Cлідкуй за актуальними вакансіями:</h2>
                    <a href="https://rabota.ua/ua/company796356">
                      <img src="/img/icons/rabotaua.png" alt="Rabota.ua" class="img-icons-style">
                    </a>
                    <a href="https://www.work.ua/jobs/by-company/1189480/">
                      <img src="/img/icons/work_light_bgs.png" alt="Work.ua" class="img-icons-style">
                    </a>
                  </div>

                  <div>
                    <h2 class="section-item__title">
                      Відділ кадрів
                    </h2>
    
                    <div class="section-item__description_p_contact">
                      <p>У Вас ЗАЛИШИЛИСЬ ПИТАННЯ? Зв’яжіться з нашим відділом кадрів.</p>  <br>
                    </div>
                    <a href="tel:+38-067-507-65-15">
                    <p class="section-item__titls_contact"> +38 (067) 507-65-15</p>
                    </a>
                  </div>

              </div>
              <div class="section-column section-column--form section-form">
                <h2 class="section-title">
                  Залишити резюме
                </h2>
                <form action="" class="form">
                  <div class="form__row">
                    <input class="form-input" id="name" name="name" type="text" required="">
                    <label class="form-label" for="name"><span class="form-label--required">*</span> Введіть ваше ім'я</label>
                  </div>
                  <div class="form__row">
                    <input class="form-input js-form-tel" id="tel" name="tel" type="text" required="" maxlength="14">
                    <label class="form-label" for="tel"><span class="form-label--required">*</span> +3 8 0</label>
                  </div>
                  <div class="form__row">
                    <input class="form-input" id="surname" name="surname" type="text" required="">
                    <label class="form-label" for="surname"><span class="form-label--required">*</span> Фамiлiя</label>
                  </div>

                  <div class="form__row form__row--select">
                    <select class="form-select" name="vacancies" id="vacancies">
                      <option class="form-option" value="" hidden="">
                      </option>
                      <option class="form-option" value="1">
                        Дизайнер графiчний
                      </option>
                      <option class="form-option" value="2">
                        Менеджер
                      </option>
                      <option class="form-option" value="3">
                        Системний адмiнiстратор
                      </option>
                    </select>
                    <label class="form-label" for="vacancies">Вакансiя</label>
                  </div>
                  <div class="form__row form__row--textarea">
                    <textarea class="form-textarea" name="message" id="message"></textarea>
                    <label class="form-label form-label--custom" for="message">Введіть ваше повідомлення</label>
                  </div>
                  <div class="form__row form__row--file">
                    <div class="form__column">
                      <input type="file" name="file" id="file" class="inputfile">
                      <label class="form-label-file" for="file">Додати</label>
                    </div>
                    <div class="form__column">
                      <p class="form__des">
                        Заватажте ваше резюме <br>
                        ( Docx, Doc, Txt, Pdf )
                      </p>
                    </div>
                  </div>
                  <div class="form__row form__row--submit">
                    <button type="submit" class="form-submit">
                      Відправити запит
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer" th:insert="blocks/footer :: footer"></footer>
  </body>
</html>