<!DOCTYPE html>
<html lang="ru">
  <div th:replace="blocks/head :: head"></div>
  <body>
    <div th:replace="blocks/header :: header"></div>

    <main class="main">
      <section class="intro">
        <div class="container">
          <div class="inner">
            <h1 class="section-title main-title">
              Кар'єра
            </h1>
          </div>
        </div>
      </section>
      <section class="content">
        <div class="container">

          <div class="section-column section-column--vacancies">
            <div class="section-modal">
              <div class="section-modal__item">
                <div class="section-modal__back">
                  <img src="/img/svg/back-arrow.svg" alt="back" class="section-modal__icon">
                </div>
                <h3 class="section-modal__title">
                  Дизайнер графiчний
                </h3>
                <div class="section-modal__description">
                  <p>
                    Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания. <br>
                    Опыт работы WEB-дизайнером от 3-х лет. Наличие портфолио; <br>
                    Сильный скилл в UX/UI; <br>
                    Понимание современных принципов и методологий UX-дизайна, адаптивной вёрстки и mobile-first дизайна; <br>
                    Опыт разработки дизайна под Android/iOS приложения; <br>
                    Умение прототипировать и тестировать узлы продукта; <br>
                    Общее понимание принципов HTML и CSS; <br>
                    Ответственность за создаваемый продукт на каждом этапе производства, от идеи и вайрфреймов до адаптивной верстки и готового дизайна. <br>
                    Обязанности:
                  </p>

                  <p>
                    Дизайн продуктовых web-сайтов (UI/UX) и мобильных приложений (Android/iOS); <br>
                    Работа с респонсив и адаптив интерфейсами; <br>
                    Создание прототипов и готового дизайна для продуктов компании; <br>
                    Поддержка и улучшение существующего визуального стиля продуктов компании; <br>
                    Работа с программами Figma, Sketch, Zeplin; <br>
                    Коммуникация с менеджерами продукта и front-end разработчиками; <br>
                    Брать на себя ответственность за сроки исполнения проектов.
                    Условия работы:
                  </p>

                  <p>
                    Кухня в офисе, со всеми сопутствующими элементами. <br>
                    Свое кафе для сотрудников (где очень вкусно готовят); <br>
                    Бесплатные уроки английского языка (3 часа в неделю); <br>
                    Бесплатная парковка;
                  </p>

                  <p>
                    Кухня в офисе, со всеми сопутствующими элементами. <br>
                    Свое кафе для сотрудников (где очень вкусно готовят); <br>
                    Бесплатные уроки английского языка (3 часа в неделю); <br>
                    Бесплатная парковка;
                  </p>

                  <p>
                    Кухня в офисе, со всеми сопутствующими элементами. <br>
                    Свое кафе для сотрудников (где очень вкусно готовят); <br>
                    Бесплатные уроки английского языка (3 часа в неделю); <br>
                    Бесплатная парковка;
                  </p>

                  <p>
                    Кухня в офисе, со всеми сопутствующими элементами. <br>
                    Свое кафе для сотрудников (где очень вкусно готовят); <br>
                    Бесплатные уроки английского языка (3 часа в неделю); <br>
                    Бесплатная парковка;
                  </p>

                  <p>
                    Кухня в офисе, со всеми сопутствующими элементами. <br>
                    Свое кафе для сотрудников (где очень вкусно готовят); <br>
                    Бесплатные уроки английского языка (3 часа в неделю); <br>
                    Бесплатная парковка;
                  </p>
                </div>
              </div>
              <div class="section-modal__item">
                <div class="section-modal__back">
                  <img src="/img/svg/back-arrow.svg" alt="back" class="section-modal__icon">
                </div>
                <h3 class="section-modal__title">
                  Менеджер
                </h3>
                <p class="section-modal__description">
                  Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.
                </p>
              </div>
              <div class="section-modal__item">
                <div class="section-modal__back">
                  <img src="/img/svg/back-arrow.svg" alt="back" class="section-modal__icon">
                </div>
                <h3 class="section-modal__title">
                  Системний адмiнiстратор
                </h3>
                <p class="section-modal__description">
                  Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.
                </p>
              </div>
              <div class="section-modal__item">
                <div class="section-modal__back">
                  <img src="/img/svg/back-arrow.svg" alt="back" class="section-modal__icon">
                </div>
                <h3 class="section-modal__title">
                  Менеджер
                </h3>
                <p class="section-modal__description">
                  Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.
                </p>
              </div>
              <div class="section-modal__item">
                <div class="section-modal__back">
                  <img src="/img/svg/back-arrow.svg" alt="back" class="section-modal__icon">
                </div>
                <h3 class="section-modal__title">
                  Системний адмiнiстратор
                </h3>
                <p class="section-modal__description">
                  Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.
                </p>
              </div>
            </div>

            <h2 class="section-title">
              Пропонуемо
            </h2>
            <div class="section-item">
              <div class="section-modal__back">
                <img src="/img/svg/back-arrow.svg" alt="back" class="section-modal__icon">
              </div>
              <h3 class="section-item__title">
                Дизайнер графiчний
              </h3>
              <div class="section-item__description">
                <p>
                  Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания. <br>
                  Опыт работы WEB-дизайнером от 3-х лет. Наличие портфолио; <br>
                  Сильный скилл в UX/UI; <br>
                  Понимание современных принципов и методологий UX-дизайна, адаптивной вёрстки и mobile-first дизайна; <br>
                  Опыт разработки дизайна под Android/iOS приложения; <br>
                  Умение прототипировать и тестировать узлы продукта; <br>
                  Общее понимание принципов HTML и CSS; <br>
                  Ответственность за создаваемый продукт на каждом этапе производства, от идеи и вайрфреймов до адаптивной верстки и готового дизайна. <br>
                  Обязанности:
                </p>

                <p>
                  Дизайн продуктовых web-сайтов (UI/UX) и мобильных приложений (Android/iOS); <br>
                  Работа с респонсив и адаптив интерфейсами; <br>
                  Создание прототипов и готового дизайна для продуктов компании; <br>
                  Поддержка и улучшение существующего визуального стиля продуктов компании; <br>
                  Работа с программами Figma, Sketch, Zeplin; <br>
                  Коммуникация с менеджерами продукта и front-end разработчиками; <br>
                  Брать на себя ответственность за сроки исполнения проектов.
                  Условия работы:
                </p>

                <p>
                  Кухня в офисе, со всеми сопутствующими элементами. <br>
                  Свое кафе для сотрудников (где очень вкусно готовят); <br>
                  Бесплатные уроки английского языка (3 часа в неделю); <br>
                  Бесплатная парковка;
                </p>

                <p>
                  Кухня в офисе, со всеми сопутствующими элементами. <br>
                  Свое кафе для сотрудников (где очень вкусно готовят); <br>
                  Бесплатные уроки английского языка (3 часа в неделю); <br>
                  Бесплатная парковка;
                </p>

                <p>
                  Кухня в офисе, со всеми сопутствующими элементами. <br>
                  Свое кафе для сотрудников (где очень вкусно готовят); <br>
                  Бесплатные уроки английского языка (3 часа в неделю); <br>
                  Бесплатная парковка;
                </p>

                <p>
                  Кухня в офисе, со всеми сопутствующими элементами. <br>
                  Свое кафе для сотрудников (где очень вкусно готовят); <br>
                  Бесплатные уроки английского языка (3 часа в неделю); <br>
                  Бесплатная парковка;
                </p>

                <p>
                  Кухня в офисе, со всеми сопутствующими элементами. <br>
                  Свое кафе для сотрудников (где очень вкусно готовят); <br>
                  Бесплатные уроки английского языка (3 часа в неделю); <br>
                  Бесплатная парковка;
                </p>
              </div>
            </div>
            <div class="section-item">
              <div class="section-modal__back">
                <img src="/img/svg/back-arrow.svg" alt="back" class="section-modal__icon">
              </div>
              <h3 class="section-item__title">
                Менеджер
              </h3>
              <div class="section-item__description">
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
              </div>
            </div>
            <div class="section-item">
              <div class="section-modal__back">
                <img src="/img/svg/back-arrow.svg" alt="back" class="section-modal__icon">
              </div>
              <h3 class="section-item__title">
                Системний адмiнiстратор
              </h3>
              <div class="section-item__description">
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
              </div>
            </div>
            <div class="section-item">
              <div class="section-modal__back">
                <img src="/img/svg/back-arrow.svg" alt="back" class="section-modal__icon">
              </div>
              <h3 class="section-item__title">
                Менеджер
              </h3>
              <div class="section-item__description">
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
              </div>
            </div>
            <div class="section-item">
              <div class="section-modal__back">
                <img src="/img/svg/back-arrow.svg" alt="back" class="section-modal__icon">
              </div>
              <h3 class="section-item__title">
                Системний адмiнiстратор
              </h3>
              <div class="section-item__description">
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
                <p>Приглашение к сотрудничеству получают кандидаты, успешно выполнившие тестовое задание. Выполненные работы рассматриваются в течение недели. Компания не рецензирует (не даёт характеристику и оценку Вашей работе) и не оплачивает тестовые задания.</p>
              </div>
            </div>
          </div>
          <div class="section-column section-column--form section-form">
            <h2 class="section-title">
              Залишити запит
            </h2>
            <form action="" class="form">
              <div class="form__row">
                <input class="form-input" id="name" name="name" type="text" required="">
                <label class="form-label" for="name"><span class="form-label--required">*</span> Введіть ваше ім'я</label>
              </div>
              <div class="form__row">
                <input class="form-input js-form-tel" id="tel" name="tel" type="text" required="" maxlength="14">
                <label class="form-label" for="tel"><span class="form-label--required">*</span> +3 8 0</label>
              </div>
              <div class="form__row">
                <input class="form-input" id="surname" name="surname" type="text" required="">
                <label class="form-label" for="surname"><span class="form-label--required">*</span> Фамiлiя</label>
              </div>

              <div class="form__row form__row--select">
                <select class="form-select" name="vacancies" id="vacancies">
                  <option class="form-option" value="" hidden="">

                  </option>
                  <option class="form-option" value="1">
                    Дизайнер графiчний
                  </option>
                  <option class="form-option" value="2">
                    Менеджер
                  </option>
                  <option class="form-option" value="3">
                    Системний адмiнiстратор
                  </option>
                </select>
                <label class="form-label" for="vacancies">Вакансiя</label>
              </div>
              <div class="form__row form__row--textarea">
                <textarea class="form-textarea" name="message" id="message"></textarea>
                <label class="form-label form-label--custom" for="message">Введіть ваше повідомлення</label>
              </div>
              <div class="form__row form__row--file">
                <div class="form__column">
                  <input type="file" name="file" id="file" class="inputfile">
                  <label class="form-label-file" for="file">Додати</label>
                </div>
                <div class="form__column">
                  <p class="form__des">
                    Заватажте ваше резюме <br>
                    ( Docx, Doc, Txt, Pdf )
                  </p>
                </div>
              </div>
              <div class="form__row form__row--submit">
                <button type="submit" class="form-submit">
                  Відправити запит
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div th:insert="blocks/footer :: footer"></div>
    </footer>
  </body>
</html>