<div th:fragment="footer">
    <section class="section-about-us">
        <div class="section-column section-column--map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d5084.8487200532545!2d30.11587817906495!3d50.4145647046067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1579595646279!5m2!1sru!2sua" width="1920" height="520" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="container">
            <div class="section-column section-column--contact">
                <div class="section-logo">
                    <img class="section-logo__image" src="/img/svg/maramax-logo.svg" alt="maramax">
                </div>
                <h3 class="section-title">
                    <span class="inline-block">Виробництво та дизайн</span>
                    <span class="inline-block">картонної, кашированої упаковки</span>
                    <span class="inline-block">та POS-матеріалів усіх видів</span>
                </h3>
                <div class="contact">
                    <a href="tel:+38-097-005-20-20">
                        <p class="contact__tel">
                            +38 (097) 005-20-20
                        </p>
                    </a>
                    <a href="mailto:office@maramax.kiev.ua">
                        <p class="contact__mail">
                            office@maramax.kiev.ua
                        </p>
                    </a>
                    <p class="contact__address">
                        08122, <br class="hidden-tablet">
                        Київська обл. <br class="hidden-mob"> с.Шпитьки,
                        <span class="inline-block">вул. Господарська, 10а</span>
                    </p>
                    <h3 class="contact__soc_media"> Ми у соціальних мережах:</h3>
                    <a href="https://instagram.com/maramax_kiev">
                        <img src="/img/svg/instagram.svg" alt="Ми у Instagram">
                    </a>
                    <a href="https://www.facebook.com/kiev.maramax" class="image_fac_a">
                        <img src="/img/svg/Facebook.svg" alt="Ми у Facebook">
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-copyright">
        <div class="container">
            <ul class="navigation hidden-mob">
                <li class="navigation__item">
                    <a href="/products" class="navigation__link link">Продукція</a>
                </li>
                <li class="navigation__item">
                    <a href="/about" class="navigation__link link">Про компанiю</a>
                </li>
                <li class="navigation__item">
                    <a href="/publications" class="navigation__link link">Публикації</a>
                </li>
                <li class="navigation__item">
                    <a href="/vacancies" class="navigation__link link">Кар'єра</a>
                </li>
                <li class="navigation__item">
                    <a href="/contact" class="navigation__link link">Контакти</a>
                </li>
            </ul>
            <p class="copyright-text">
                © 2022 <span class="hidden-mob">Всі права захищено</span> ТОВ "МАРАМАКС-ПАК".
                <span class="inline-block">Розробленно в <a href="https://t.me/serg_designer">Papaya</a></span>
            </p>
        </div>
    </section>
    <div class="modal" id="form-modal">
        <div class="modal__overlay"></div>
        <div class="modal__content">
            <div class="modal__inner">
                <button class="modal__close"></button>
                <h2 class="section-title">
                    Якщо Залишилось питання
                </h2>
                <h3 class="section-subtitle">
                    Залиште заявку, ми з Вами зв'яжемося
                </h3>
                <form action="" class="form">
                    <div class="form__row">
                        <input class="form-input" id="form-name" name="name" type="text" required>
                        <label class="form-label" for="form-name"><span class="form-label--required">*</span> Введіть ваше ім'я</label>
                    </div>
                    <div class="form__row">
                        <input class="form-input" id="form-email" name="email" type="email" required>
                        <label class="form-label" for="form-email"><span class="form-label--required">*</span> Введіть ваш Email</label>
                    </div>
                    <div class="form__row">
                        <input class="form-input js-form-tel" id="form-tel" name="tel" type="text" required>
                        <label class="form-label" for="form-tel"><span class="form-label--required">*</span> +3 8 0</label>
                    </div>
                    <div class="form__row form__row--select">
                        <select class="form-select" name="quantity" id="form-quantity">
                            <option class="form-option" value="" hidden>

                            </option>
                            <option class="form-option" value="1">
                                1
                            </option>
                            <option class="form-option" value="2">
                                2
                            </option>
                            <option class="form-option" value="3">
                                3
                            </option>
                            <option class="form-option" value="4">
                                4
                            </option>
                        </select>
                        <label class="form-label" for="form-quantity">Кількість одиниць</label>
                    </div>
                    <div class="form__row form__row--textarea">
                        <textarea class="form-textarea" name="message" id="form-message"></textarea>
                        <label class="form-label form-label--custom" for="form-message">Введіть ваше повідомлення</label>
                    </div>
                    <div class="form__row form__row--submit">
                        <button type="submit" class="form-submit">
                            Відправити запит
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/main.min.js"></script>
    <script th:src="${script}"></script>
    <script src="/js/vendor.min.js"></script>
    <script>
        var header = document.querySelector('.header');
        header.removeAttribute('style');
    </script>
</div>