<div th:insert="blocks/header :: header">
    <header class="header" style="display: none;">
        <div class="container" th:fragment="header">
            <a href="/" class="section-logo">
            </a>
            <ul class="section-navigation hidden-desktop-md">
                <li class="section-navigation__item">
                    <a href="/products/pos_materials" class="section-navigation__link link">
                        Продукція
                    </a>
                </li>
                <li class="section-navigation__item">
                    <a href="/about" class="section-navigation__link link">
                        Про компанiю
                    </a>
                </li>
                <li class="section-navigation__item">
                    <a href="/publications" class="section-navigation__link link">
                        Публікації
                    </a>
                </li>
                <li class="section-navigation__item">
                    <a href="/career" class="section-navigation__link link">
                        Кар'єра
                    </a>
                </li>
                <li class="section-navigation__item">
                    <a href="/contact" class="section-navigation__link link">
                        Контакти
                    </a>
                </li>
            </ul>
            <div class="section-contact">
                +38 (097) 005-20-20
            </div>
            <div class="section-actions hidden-desktop-md">
                <div class="feedback js-open-modal-form">
                    <svg class="feedback__image" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M12.55 2.16667C12.5 2.90833 12.375 3.63333 12.175 4.325L13.175 5.325C13.5167 4.325 13.7333 3.26667 13.8083 2.16667H12.55ZM4.33333 12.1833C3.625 12.3833 2.9 12.5083 2.16667 12.5583V13.8C3.26667 13.725 4.325 13.5083 5.33333 13.175L4.33333 12.1833ZM11.75 0.5H14.6667C15.125 0.5 15.5 0.875 15.5 1.33333C15.5 9.15833 9.15833 15.5 1.33333 15.5C0.875 15.5 0.5 15.125 0.5 14.6667V11.7583C0.5 11.3 0.875 10.925 1.33333 10.925C2.36667 10.925 3.375 10.7583 4.30833 10.45C4.39167 10.4167 4.48333 10.4083 4.56667 10.4083C4.78333 10.4083 4.99167 10.4917 5.15833 10.65L6.99167 12.4833C9.35 11.275 11.2833 9.35 12.4833 6.99167L10.65 5.15833C10.4167 4.925 10.35 4.6 10.4417 4.30833C10.75 3.375 10.9167 2.375 10.9167 1.33333C10.9167 0.875 11.2917 0.5 11.75 0.5Z" fill="#68717D"/>
                    </svg>
                    <p class="feedback__text">
                        Зворотній зв’язок
                    </p>
                </div>
                <div class="switcher-lang">
                    <h2 class="switcher-lang__title">Укр</h2>
                    <ul class="switcher-lang__list">
                        <li class="switcher-lang__item">
                            <a href="" class="switcher-lang__link">
                                Укр
                            </a>
                        </li>
                        <li class="switcher-lang__item">
                            <a href="" class="switcher-lang__link">
                                Англ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="burger-menu">
                <span class="burger-menu__line burger-menu__line--first"></span>
                <span class="burger-menu__line burger-menu__line--second"></span>
                <span class="burger-menu__line burger-menu__line--third"></span>
                <span class="burger-menu__line burger-menu__line--fourth"></span>
            </div>
        </div>
        <div class="mobile-menu-overlay"></div>
        <div class="mobile-menu">
            <div class="section-actions">
                <div class="feedback js-open-modal-form">
                    <svg class="feedback__image" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M12.55 2.16667C12.5 2.90833 12.375 3.63333 12.175 4.325L13.175 5.325C13.5167 4.325 13.7333 3.26667 13.8083 2.16667H12.55ZM4.33333 12.1833C3.625 12.3833 2.9 12.5083 2.16667 12.5583V13.8C3.26667 13.725 4.325 13.5083 5.33333 13.175L4.33333 12.1833ZM11.75 0.5H14.6667C15.125 0.5 15.5 0.875 15.5 1.33333C15.5 9.15833 9.15833 15.5 1.33333 15.5C0.875 15.5 0.5 15.125 0.5 14.6667V11.7583C0.5 11.3 0.875 10.925 1.33333 10.925C2.36667 10.925 3.375 10.7583 4.30833 10.45C4.39167 10.4167 4.48333 10.4083 4.56667 10.4083C4.78333 10.4083 4.99167 10.4917 5.15833 10.65L6.99167 12.4833C9.35 11.275 11.2833 9.35 12.4833 6.99167L10.65 5.15833C10.4167 4.925 10.35 4.6 10.4417 4.30833C10.75 3.375 10.9167 2.375 10.9167 1.33333C10.9167 0.875 11.2917 0.5 11.75 0.5Z" fill="#68717D"/>
                    </svg>
                    <p class="feedback__text">
                        Зворотній зв’язок
                    </p>
                </div>
            </div>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a href="/products/pos_materials" class="mobile-menu__link">
                        Продукція
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/about" class="mobile-menu__link">
                        Про компанiю
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/publications" class="mobile-menu__link">
                        Публікації
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/career" class="mobile-menu__link">
                        Кар'єра
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="/contact" class="mobile-menu__link">
                        Контакти
                    </a>
                </li>
            </ul>
            <div class="switcher-lang">
                <h2 class="switcher-lang__title">Укр</h2>
                <ul class="switcher-lang__list">
                    <li class="switcher-lang__item">
                        <a href="" class="switcher-lang__link">
                            Укр
                        </a>
                    </li>
<!--                    <li class="switcher-lang__item">-->
<!--                        <a href="" class="switcher-lang__link">-->
<!--                            Англ-->
<!--                        </a>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </header>
</div>